@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', sans-serif;
}

/*NAVBAR*/
.menu {
  background-color: #2E2E2E;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EC5538;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}

.menu .logo {
  color: white;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu .logo img {
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

.menu .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu .menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu .menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.menu .menu_items li a::after, .menu .menu_items li a::before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: width 40ms, opacity 30ms ease;
  transition: width 40ms, opacity 30ms ease;
}

.menu .menu_items li .link::before, .menu .menu_items li .link::after {
  height: 0.1rem;
  bottom: -1px;
}

.menu .menu_items li .link::before {
  width: 0;
  background-color: #EC5538;
}

.menu .menu_items li .link::after {
  width: 100%;
  border: 1px solid #EC5538;
  border-top: 0;
  opacity: 0;
}

.menu .menu_items li .link:hover {
  color: #EC5538;
}

.menu .menu_items li .link:hover::before {
  width: 0;
  -webkit-animation: width 1500ms ease forwards;
          animation: width 1500ms ease forwards;
}

.menu .menu_items li .link:hover::after {
  opacity: 1;
}

.menu .btn_menu {
  display: none;
}

.menu .btn_menu .fa img {
  height: 40px;
}

/* @keyframes width{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 70%;
    }
} */
/*CAROUSEL*/
#slider {
  overflow: hidden;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
  height: 600px;
}

/*HERO*/
.hero {
  position: relative;
  height: 600px;
  overflow: hidden;
  background: url(./images/hero/photo-1492998680170-81f8863d8d2d.jpg) no-repeat center;
  background-size: cover;
}

.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.hero .container h1 {
  font-size: 60px;
  letter-spacing: 0.2em;
  margin: 0;
}

.hero .container h1 span {
  border: 10px solid white;
  padding: 6px 14px;
  display: inline-block;
}

.hero .container .hdown {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}

.hero .container .btn {
  color: white;
  padding: 10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: black;
  border-radius: 8px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.hero .container .btn:hover {
  opacity: 0.8;
  background-color: #EC5538;
}

/*SOBREMI*/
.sobremi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.sobremi img {
  border-radius: 5px;
  padding: 40px;
}

.sobremi h2 {
  padding-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sobremi p {
  padding-top: 60px;
  padding-right: 20px;
  font-size: 20px;
}

.sobremi .boton {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  padding: 6px;
  border-radius: 3px;
  color: white;
}

.sobremi .boton:hover {
  opacity: 0.7;
  background-color: #EC5538;
}

/*TRABAJOS*/
.trabajos {
  text-align: center;
  background-color: lavenderblush;
}

.trabajos h2 {
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 1px;
}

.trabajos p {
  margin-bottom: 20px;
}

.trabajos .variedad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trabajos .variedad img {
  height: 60px;
  margin: 20px;
}

.trabajos a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  padding: 6px;
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
}

.trabajos a:hover {
  opacity: 0.7;
  background-color: #EC5538;
  color: black;
}

/*BANNER CONTACTAME*/
.contactame {
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px;
  background: url(./images/sky/contactameIndex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contactame .contactame_info {
  height: 80px;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 30px #000;
          box-shadow: 0 10px 30px #000;
  margin: 20px auto;
  border: 1px solid #ffffff40;
}

.contactame .filtro {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(243, 243, 243, 0.2);
}

.contactame a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  padding: 6px;
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
}

.contactame a:hover {
  opacity: 0.7;
  background-color: #EC5538;
  color: black;
}

/*INFORMACION*/
.informacion {
  background-color: lavenderblush;
  padding: 20px;
  text-align: center;
}

.informacion h2 {
  text-transform: uppercase;
  padding: 10px;
}

/*SECTION-BOTTOM*/
#bottom {
  background-color: white;
}

#bottom .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bottom .row .col-md-2 img {
  display: inline-block;
  height: 200px;
  margin-left: 40px;
}

#bottom .row .col-md-10 {
  margin-right: 60px;
  margin-top: 10px;
}

#bottom .row .col-md-10 ul {
  list-style: none;
  padding: 40px;
}

#bottom .row .col-md-10 ul li {
  padding: 10px;
}

#bottom .row .col-md-10 ul a {
  text-decoration: none;
  color: black;
}

/*FOOTER*/
#footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #EC5538;
  height: 50px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .copyright {
  padding: 10px;
  color: white;
}

#footer .copyright a {
  text-decoration: none;
}

#footer .menunav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px;
}

#footer .menunav ul a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  position: relative;
}

#footer .menunav ul a:hover {
  background-color: maroon;
}

.conociendome {
  background: url(./images/hero/sakura.jpg);
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 80px;
  color: white;
}

.conociendome h1 {
  margin-top: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 60px;
}

/*PRESENTACION*/
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.presentacion img {
  height: 600px;
  margin-right: 20px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7);
          box-shadow: rgba(0, 0, 0, 0.7);
}

.presentacion h2 {
  font-size: 30px;
  padding: 20px;
}

.presentacion p {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  margin: 10px;
}

/*PILARES*/
.pilares {
  background: url(./images/hero/manodibujando.jfif);
  background-size: cover;
  height: 550px;
  text-align: center;
}

.pilares .titulo {
  padding: 60px;
  color: black;
}

.pilares .titulo h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin: auto;
}

.pilares .titulo p {
  font-size: 18px;
  margin: auto;
  padding: 20px;
  font-weight: bold;
}

.pilares .lista ul {
  display: inline-block;
  list-style: none;
}

.pilares .lista ul li {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.pilares .lista ul li:hover {
  background-color: rgba(243, 243, 243, 0.2);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*REDES SOCIALES*/
.redes {
  background-color: lavenderblush;
  height: 500px;
  text-align: center;
  padding: 60px 20px;
}

.redes .redes_top h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.redes .redes_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.redes .redes_bottom .red {
  padding: 10px;
}

.redes .redes_bottom .red img {
  height: 160px;
}

.redes .redes_bottom .red img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.banner-portfolio {
  background: url(./images/hero/portfolioFondo.jfif);
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 80px;
  color: white;
}

.banner-portfolio h1 {
  margin-top: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 60px;
}

.titulo-proyectos {
  background-color: lavenderblush;
  text-align: center;
  color: black;
}

.titulo-proyectos h2 {
  padding: 20px;
  font-size: 30px;
}

.titulo-proyectos p {
  padding: 10px;
}

.titulo-proyectos .proyectos {
  display: -ms-grid;
  display: grid;
  padding: 60px;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titulo-proyectos .proyectos img {
  width: 200px;
  height: 300px;
  padding: 10px;
}

.titulo-proyectos .proyectos img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.titulo-proyectos a {
  display: inline-block;
  background-color: black;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
}

.titulo-proyectos a:hover {
  opacity: 0.3;
  background-color: #2E2E2E;
}

.banner {
  background: url(./images/hero/contactofondo.jfif);
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 80px;
  color: white;
}

.banner h1 {
  margin-top: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 60px;
}

.formulario {
  height: 100vh;
  background-color: lavenderblush;
  text-align: center;
}

.formulario h2 {
  padding: 40px;
  text-transform: uppercase;
}

.formulario .form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 6px;
}

.formulario .form h3 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.formulario .form input, .formulario .form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

.formulario .form textarea {
  height: 150px;
}

.map {
  margin-top: 80px;
}

.map iframe {
  width: 800px;
  height: 450px;
  padding: 20px;
}

@media (max-width: 480px) {
  /*NAVBAR*/
  .menu {
    background-color: #2E2E2E;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
  }
  .menu .logo {
    color: white;
    font-size: 25px;
    padding: 0 30px;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .menu .logo img {
    height: 60px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50%;
  }
  .menu .menu_items {
    position: fixed;
    width: 100%;
    height: calc(100%-65px);
    background-color: #2E2E2E;
    top: -100vh;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu .menu_items li:hover {
    background: none;
  }
  .menu .menu_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .menu .menu_items li a:hover {
    color: #EC5538;
  }
  .menu .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 3px;
  }
  /*SOBREMI*/
  .sobremi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobremi a {
    margin-bottom: 20px;
  }
  .sobremi p {
    padding: 20px;
  }
  /*TRABAJOS*/
  .trabajos p {
    padding: 20px;
  }
  .trabajos .variedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*INFORMACION*/
  .informacion iframe {
    width: auto;
  }
  /*SECTION-BOTTOM*/
  #bottom .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 40px;
  }
  #bottom .row .col-md-2 img {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    padding-right: 60px;
  }
  #bottom .row .col-md-2 ul {
    padding-left: 20px;
    font-size: 12px;
  }
  #bottom .row .col-md-2 ul li {
    padding: 5px;
  }
  #footer {
    height: 40px;
    font-size: 8px;
  }
  /*PRESENTACION*/
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .presentacion img {
    height: 400px;
  }
  /*PILARES*/
  .pilares {
    background: url(./images/hero/manodibujando.jfif);
    background-size: cover;
    height: 550px;
    text-align: center;
  }
  .pilares .titulo h2 {
    font-size: 25px;
  }
  .pilares .titulo p {
    font-size: 16px;
  }
  .pilares .lista ul {
    display: inline-block;
    list-style: none;
  }
  .pilares .lista ul li {
    padding: 10px;
  }
  /*REDES SOCIALES*/
  .redes {
    background-color: lavenderblush;
    height: auto;
    text-align: center;
    padding: 60px 20px;
  }
  .redes .redes_top h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .redes .redes_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-portfolio {
    background: url(./images/hero/portfolioFondo.jfif);
    background-size: cover;
    margin: auto;
    text-align: center;
    padding: 80px;
    color: white;
  }
  .banner-portfolio h1 {
    margin-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60px;
  }
  .titulo-proyectos .proyectos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titulo-proyectos .proyectos img {
    width: 300px;
    height: 400px;
  }
  .titulo-proyectos .proyectos img:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  /*FORMULARIO*/
  .formulario {
    height: 1350px;
  }
  .formulario .form {
    width: 410px;
  }
  .map {
    margin-top: 80px;
  }
  .map iframe {
    width: 360px;
    height: 500px;
    padding: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*NAVBAR*/
  .menu {
    height: 70px;
  }
  .menu .logo {
    font-size: 25px;
    padding: 0 20px;
  }
  .menu .menu_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  .menu .menu_items li {
    margin: 7px 0 0 0;
    line-height: 40px;
  }
  .menu .menu_items li a {
    font-size: 14px;
    padding: 10px;
  }
  .menu .btn_menu {
    display: none;
  }
  /*SOBREMI-index*/
  .sobremi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobremi a {
    margin-bottom: 30px;
  }
  .sobremi p {
    padding: 20px;
  }
  /*SECTION-BOTTOM*/
  #bottom .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #bottom .row .col-md-2 img {
    display: inline-block;
    height: 100px;
    margin-left: 40px;
  }
  #bottom .row .col-md-10 {
    margin-right: 10px;
    margin-top: 10px;
  }
  #bottom .row .col-md-10 ul {
    list-style: none;
    padding: 10px;
  }
  #bottom .row .col-md-10 ul li {
    padding: 10px;
  }
  #bottom .row .col-md-10 ul a {
    text-decoration: none;
    color: black;
  }
  /*TRABAJOS*/
  .trabajos {
    text-align: center;
    background-color: lavenderblush;
  }
  .trabajos h2 {
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 1px;
  }
  .trabajos p {
    padding: 20px;
  }
  .trabajos .variedad {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 163px 163px;
        grid-template-columns: 163px 163px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 90px;
  }
  .trabajos a {
    margin-bottom: 40px;
  }
  /*INFORMACION*/
  .informacion iframe {
    width: auto;
  }
  /*SECTION-BOTTOM*/
  #bottom .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #bottom .row .col-md-2 img {
    display: inline-block;
    height: 100px;
    margin-left: 15px;
  }
  #bottom .row .col-md-10 {
    margin-right: 30px;
    margin-top: 10px;
  }
  #bottom .row .col-md-10 ul {
    list-style: none;
    padding: 35px;
  }
  #bottom .row .col-md-10 ul li {
    padding: 5px;
  }
  /*FOOTER*/
  #footer {
    height: 40px;
    font-size: 8px;
  }
  /*PRESENTACION*/
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  /*PILARES*/
  .pilares .lista ul {
    display: inline-block;
    list-style: none;
  }
  .pilares .lista ul li {
    padding: 15px;
  }
  /*REDES SOCIALES*/
  .redes {
    height: 1000px;
  }
  .redes .redes_top h2 {
    font-weight: bold;
  }
  .redes .redes_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  .redes .redes_bottom .red {
    padding: 20px;
  }
  .redes .redes_bottom .red img {
    height: 200px;
  }
  .titulo-proyectos .proyectos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 220px;
        grid-template-columns: 220px 220px;
  }
  .titulo-proyectos .proyectos img {
    width: 220px;
    height: 300px;
  }
  /*FORMULARIO-SECTION*/
  .formulario {
    height: 1250px;
  }
  /*IFRAME*/
  .map {
    margin-top: 50px;
  }
  .map iframe {
    width: 441px;
    height: 450px;
    padding: 20px;
  }
}

/*media para section bottom*/
@media only screen and (min-width: 481px) and (max-width: 760px) {
  /*SECTION-BOTTOM*/
  #bottom .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 40px;
  }
  #bottom .row .col-md-2 img {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    padding-right: 60px;
  }
  #bottom .row .col-md-2 ul {
    padding-left: 20px;
    font-size: 12px;
  }
  #bottom .row .col-md-2 ul li {
    padding: 5px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1200px) {
  /*SECTION-BOTTOM*/
  #bottom {
    height: 320px;
  }
  #bottom .row .col-md-2 img {
    margin-top: 70px;
    margin-left: 20px;
  }
  #bottom .row .col-md-10 {
    margin-top: 80px;
    margin-right: 10px;
  }
  #bottom .row .col-md-10 ul {
    padding: 30px;
  }
  /*REDES SOCIALES*/
  .redes {
    background-color: lavenderblush;
    height: 640px;
    margin: auto;
  }
  .redes .redes_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titulo-proyectos {
    height: 1650px;
  }
  .titulo-proyectos h2 {
    padding: 40px;
    font-size: 40px;
  }
  .titulo-proyectos p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .titulo-proyectos .proyectos {
    display: -ms-grid;
    display: grid;
    padding: 20px;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titulo-proyectos .proyectos img {
    width: 300px;
    height: 380px;
    padding: 10px;
  }
  .titulo-proyectos a {
    padding: 20px;
  }
  .formulario {
    height: 100vh;
    background-color: lavenderblush;
    text-align: center;
  }
  .formulario h2 {
    padding: 40px;
    text-transform: uppercase;
  }
  .formulario .form {
    width: 681px;
  }
  .formulario .map {
    margin-top: 80px;
  }
  .formulario .map iframe {
    width: 721px;
    height: 400px;
    padding: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  /*FONTS*/
  h2 {
    font-size: 40px;
  }
  /*NAVBAR*/
  .menu {
    height: 80px;
  }
  .menu .menu_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 30px;
  }
  .menu .menu_items li {
    border-radius: 3px;
    margin: 0 5px;
  }
  .menu .menu_items li a {
    font-size: 20px;
  }
  /*SOBREMI*/
  .sobremi img {
    height: 700px;
  }
  .sobremi h2 {
    padding-top: 165px;
    font-size: 40px;
  }
  .sobremi .boton {
    padding: 10px;
  }
  /*BANNER CONTACTAME*/
  .contactame .contactame_info {
    height: 130px;
    width: 700px;
  }
  /*INFORMACION*/
  .informacion {
    background-color: lavenderblush;
    padding: 20px;
    text-align: center;
  }
  .informacion iframe {
    width: 800px;
    height: 500px;
  }
  /*PRESENTACION*/
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  .presentacion img {
    height: 700px;
    margin-right: 20px;
    padding: 20px;
  }
  .presentacion h2 {
    font-size: 35px;
    text-align: center;
    padding: 60px;
  }
  .presentacion p {
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
    margin: 10px;
  }
  /*REDES SOCIALES*/
  .redes {
    background-color: lavenderblush;
    height: 500px;
    text-align: center;
    padding: 60px 20px;
  }
  .redes .redes_top h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .redes .redes_bottom .red {
    padding: 10px;
  }
  .redes .redes_bottom .red img {
    height: 200px;
  }
  .redes .redes_bottom .red img:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  /*GRID-PROYECTOS*/
  .titulo-proyectos {
    background-color: lavenderblush;
    text-align: center;
    height: 1200px;
    color: black;
  }
  .titulo-proyectos h2 {
    padding: 40px;
    font-size: 40px;
  }
  .titulo-proyectos p {
    padding: 20px;
  }
  .titulo-proyectos .proyectos {
    display: -ms-grid;
    display: grid;
    padding: 40px;
    -ms-grid-columns: 280px 280px 280px;
        grid-template-columns: 280px 280px 280px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titulo-proyectos .proyectos img {
    width: 270px;
    height: 350px;
    padding: 20px;
  }
  .titulo-proyectos .proyectos a {
    padding: 20px;
  }
  .banner {
    background: url(./images/hero/contactofondo.jfif);
    background-size: cover;
    margin: auto;
    text-align: center;
    padding: 80px;
    color: white;
  }
  .banner h1 {
    margin-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60px;
  }
  .formulario {
    height: 100vh;
    background-color: lavenderblush;
    text-align: center;
    /*FORMULARIO-container*/
    /*MAPA*/
  }
  .formulario h2 {
    padding: 40px;
    text-transform: uppercase;
  }
  .formulario .form {
    width: 800px;
  }
  .formulario .form h3 {
    font-size: 40px;
  }
  .formulario .form textarea {
    height: 200px;
  }
  .formulario .banner {
    background: url(./images/hero/contactofondo.jfif);
    background-size: cover;
    margin: auto;
    text-align: center;
    padding: 80px;
    color: white;
  }
  .formulario .banner h1 {
    margin-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60px;
  }
  .formulario .formulario {
    height: 100vh;
    background-color: lavenderblush;
    text-align: center;
  }
  .formulario .formulario h2 {
    padding: 40px;
    text-transform: uppercase;
  }
  .formulario .formulario .form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 20px;
    border-radius: 6px;
  }
  .formulario .formulario .form h3 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .formulario .formulario .form input, .formulario .formulario .form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
  }
  .formulario .formulario .form textarea {
    height: 100px;
  }
  .formulario .map {
    margin-top: 80px;
  }
  .formulario .map iframe {
    width: 1000px;
    height: 300px;
    padding: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */